<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
         <form action="#">
            <div>
                <label for="">First Name</label>
                <input type="text">
            </div>
            <div>
                <label for="">Last Name</label>
                <input type="text">
            </div>
            <div>
                <label for="">Ph No.</label>
                <input type="tel">
            </div>
            <div>
                <label for="">Email ID</label>
                <input type="email">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
         </form>
    </main>

</body>
</html>